/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 48px;
    line-height: 1;
}
h2 {
    font-size: 36px;
    line-height: 1.333;
}
h3 {
    font-size: 24px;
    line-height: 1;
}
h4, h5, h6 {
    font-size: 16px;
    line-height: 1.5;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.img-box::-webkit-scrollbar{
  display: none;
}

.overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);

  /*画面の中央に要素を表示させる設定*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overlay-content{
  z-index:2;
  width:50%;
  height: 50%;
  padding: 1em;
  background: white;
  border-radius: 10%;
}

.delete-overlay-content {
  z-index:2;
  width:50%;
  height: 25%;
  padding: 1em;
  background: white;
  border-radius: 40px;
}

.authDialog {
  background: linear-gradient(to bottom right, blue, fuchsia);
}

.stroke-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}